@charset "utf-8";
/* CSS Document */

#contenedor {
	display: flex;
	flex-direction: column;
	text-align: center;
}

body {
	background-image:url("../imagenes/Moda Hombre - Chaquetas y abrigos/grunge-texture-background_M1G6GX_O_SB_PM.jpg");
}

header {
	display: block;
	text-align: center;
	width: 95%;
	margin: 10px;
}

header img {
	margin: 20px;
}

.logo {
	border: 4px solid red;
}

.subcategoria {
	border-radius: 15px;
	border: 4px double  #FFFFFF;
}

nav {
	width: 95%;
	text-align: center;
	background-color: darkgray;
	margin: 10px auto;
	border-radius: 10px;
}

nav h4 {
	border: 3px solid black;
	text-align: left;
	padding: 5px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 12pt;
	margin: 10px;
}

nav img {
	padding: 15px 0px 5px 2px;
	width: 40%;
	height: 80%;
	vertical-align: middle;
}

nav a{
	text-decoration: none;
}

nav:hover {
	border: 5px  groove #352A2A;
}


main {
	display: flex;
	flex-direction: row;
	width: 100%;
}


aside {
	width: 20%;
	background-color:#F0D9C6;
	display: block;
	margin: 5px 15px;
	padding: 0px 2px;
	height: 360px;
}

aside b {
	display: block;
	padding: 10px;
	font-size: 15pt;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-decoration:underline;
}

aside a {
	display: block;
	padding: 8px;
	text-decoration: none;
	color:black;
	margin: 2px 15px;
	font-size: 13pt;
}

aside audio {
	width: 90%;
}

aside img {
	width: 90%;
	margin: 15px auto;
	border: 3px dotted black;
}

aside:hover {
	border: ridge 6px  #531314;
}

aside a:hover {
	background-color: gold;
}

section {
	width: 60%;
	background-color: azure;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 5px 0px;
	border: 3px solid black;
}


article {
	width: 40%;
	margin-top: 15px;

}

article img {
	width: 90%;
	height: 60%;
	margin: 2px auto;
}

article h3 h2 p {
	width: 80%
}

article img:hover {
	border: 2px dotted black;
}

footer {
	text-align: center;
	margin: 50px 0px 5px 0px;
	padding-top: 15px;

}

footer p {
	background-color: darkgray;
	padding-top: 5px;
	border-radius: 8px;
	border: 4px solid black;

}

footer p a{
	text-decoration: none;
	color: black;
}

footer h4 {
	vertical-align:middle;
	text-align: center;
	padding: 5px;
	color: black;
}

.final {
	color:darkslategray;
	font-size: 10pt;
}

footer p a:hover {
	text-decoration: underline;
	color: blue;
}


